body {
  background-color: var(--back-color);
  font-family: "Roboto", sans-serif;
  color: var(--text-descr);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
:root {
  --back-color: #ffffff;
  --heeader-color: #2e2f42;
  --hover-element: #404bbf;
  --button-color: #4d5ae5;
  --text-descr: #434455;
  --text-on-dark: #f4f4fd;
  --nav-border: #e7e9fc;
}

/* reset start */
h1,
h2,
h3,
ul,
p {
  margin: 0;
}
ul {
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}

/* Sections Background color */
.footer-background {
  background-color: var(--heeader-color);
}
.hero-background {
  background-color: var(--heeader-color);
  text-align: center;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
}
/* Logo style */
.logo-studio {
  color: var(--heeader-color);
}
.logo-studio-footer {
  color: var(--text-on-dark);
}
/* Link style */
.link {
  text-decoration: none;
  color: var(--heeader-color);
}
.nav-link {
  font-weight: 500;
  padding: 24px 0;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--hover-element);
}

/* Addres link style */
.link-addr {
  color: var(--text-descr);
  font-style: normal;
  padding: 24px 0;
}
.link-addr:hover,
.link-addr:focus {
  color: var(--hover-element);
}
.link-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--button-color);
  letter-spacing: 0.03em;
}
.link-logo-header {
  margin-right: 76px;
  padding: 24px 0;
}
.link-logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

/* Buttons style*/
.button-order {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: inherit;
  letter-spacing: 0.04em;
  background-color: var(--button-color);
  color: var(--back-color);

  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;

  min-width: 169px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button-order:hover,
.button-order:focus {
  background-color: var(--hover-element);
}
.button-portfolio {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: inherit;
  letter-spacing: 0.04em;
  background-color: var(--text-on-dark);
  color: var(--button-color);

  padding: 12px 24px;

  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--hover-element);
  color: var(--back-color);
  border: 1px solid transparent;
}
.slogan {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--back-color);
  text-align: center;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--heeader-color);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--heeader-color);
  margin-bottom: 8px;
}
.descr {
  letter-spacing: 0.02em;
  color: var(--text-descr);
}
.descr-footer {
  color: var(--text-on-dark);
  max-width: 264px;
}
.section-team {
  background-color: var(--text-on-dark);
}
.card-member {
  background-color: var(--back-color);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* Style header panel */
.header {
  background-color: var(--back-color);
  border-bottom: 1px solid var(--nav-border);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* Style Hero Section */
.hero-container {
  padding: 188px 0;
  align-items: center;
}
/* Style Features Section */
.features-container {
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
}
.feaures-list-container {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}
.feaures-list-block {
  width: calc((100%-72px) / 4);
  padding: 0px;
}

/* Style wawd Section */
.wawd-container {
  align-items: center;
  padding-bottom: 120px;
}
.wawd-list-container {
  display: flex;
  padding: 0px;
  gap: 24px;
}
.fwawd-list-block {
  width: calc((100%-48px) / 3);
}
/* Style Our Team Section */
.team-container {
  align-items: center;
  padding-bottom: 120px;
  padding-top: 120px;
}
.team-list-container {
  display: flex;
  padding: 0px;
  gap: 24px;
}
.team-list-block {
  width: calc((100%-72px) / 4);
}
.card-content {
  padding: 32px 16px;
}
/* Style Footer Section */
.footer-container {
  padding-top: 100px;
  padding-bottom: 100px;
}
/* Style Portfolio */
.portfolio-container {
  padding: 96px 0 120px;
}
.button-portfolio-container {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.card-portfolio-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  padding-bottom: 120px;
}
.card-portfolio-block {
  width: calc((100% - 48px) / 3);
}
.card-link {
  display: inline-block;
}
.card-portfolio-content {
  padding: 32px 16px;
  border: 1px solid var(--nav-border);
  border-top: none;
}
